html {
    background: rgb(228, 233, 228);
}

body {
    margin: 0 auto;
    width: 1200px;
    background: #fff;
    height: 662px;
    box-shadow: inset 0 0 8px 0px rgba(0,0,0,0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    margin-left: 10px;
    margin-right: 10px;
}

img {
    margin-left: 100px; 
    margin-left: 100px; 
    margin-top: 50px;
}

video {
    float: right; 
    margin-right: 100px;
}

.text {
    width: 470px;
    height: 200px;
    margin-left: 10px;
}

.inputsave {
    margin-left: 10px;
}

.top-login {
    background-color: #0366ad;
    color: #fff;
    height: 35px;
    box-shadow: 0 -5px 5px 0px rgba(0,0,0,0.5);
}

.top-login div {
    display: inline-block;
    color: #fff;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    text-align: end;
}

.top-login a {
    display: inline-block;
    color: #fff;
}

.top-links {
    background-color: #0366ad;
    color: #fff;
    height: 35px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.5);
}

.top-links a {
    display: inline-block;
    color: #fff;
}

.zagalovok {
    text-align: center;
}

.table {
    margin-left: 10px;
    margin: auto;
    border-collapse: collapse;
}

.table td {
    border: 1px solid black; 
    padding: 5px;
}

.table th {
    border: 1px solid black; 
    padding: 5px;
}

.table tr {
    text-align: center
}